html, body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
    height: 100%;
    width: 100%;
}

#app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.topContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
}

.outerContainer {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.desktop {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 10px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.leftContainer {
    box-sizing: border-box;
    width: calc(100% / 1.5 - 10px);
    height: calc(100% - 10px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.containerRed {
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    border: 10px solid red;
    display: flex;
    flex-wrap: wrap;
}

.containerBlue {
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    border: 10px solid blue;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.containerGreen {
    box-sizing: border-box;
    width: calc(100% / 3);
    height: 100%;
    border: 10px solid green;
    display: flex;
    flex-wrap: wrap;
}



.innerRed {
    width: 50%;
    box-sizing: border-box;
    border: 1px solid black;
    align-items: center;
    display: flex;
    font-size: 40px;
    font-weight: 500;
    color: #333;
}
.zoneKey {
    border: 1px solid black;
    padding: 10px;
    margin-left: 10%;
    width: 50%;

}

.zoneValue {
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    width: 25%;
}

.innerTop {
    width: calc(100% / 3);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid black;
}

.innerTop:last-child {
    border-right: none;
}


.mobile {
    display: none;
}

@media (max-width: 1300px) {
    .desktop {
        display: none;
    }

    .mobile {
        box-sizing: border-box;
        width: 100%;
        height: calc(100% - 10px);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .containerRed {
        height: 50%;
        width: 100%;
        box-sizing: border-box;
    }

    .container {
        display: flex;
        width: 100%;
        height: 50%;
        gap: 10px;
    }

    .containerBlue {
        height: 100%;
        width: 50%;
        box-sizing: border-box;
    }

    .containerGreen {
        height: 100%;
        width: 50%;
        box-sizing: border-box;
    }
}
