html, body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
    height: 100%;
    width: 100%;
    background-color: #e3f2fd;
}

#app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.topContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
    background-color: white;
}

.outerContainer {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.desktop {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 10px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.leftContainer {
    box-sizing: border-box;
    width: calc(100% / 1.5 - 10px);
    height: calc(100% - 10px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.containerRed {
    box-sizing: border-box;
    width: 100%;
    height: 55%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
    background-color: white;
}

.containerBlue {
    height: 45%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr;
    border-radius: 10px;
    padding: 25px;
    font-size: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
    background-color: white;
}

.containerGreen {
    box-sizing: border-box;
    width: calc(100% / 3);
    height: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 10px;
    padding: 30px;
    font-size: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
    background-color: white;
}

.innerRed {
    width: 50%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    font-size: 50px;
    color: #333;
}

.zoneKey {
    padding: 10px;
    margin-left: 10%;
    width: 40%;
}

.zoneValue {
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    width: 25%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #e3f2fd;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
}

.innerTop {
    width: calc(100% / 3);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid black;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Slightly more pronounced shadow */
}

.innerTop:last-child {
    border-right: none;
}

.result {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.mobile {
    display: none;
}

@media (max-width: 1300px) {
    .desktop {
        display: none;
    }

    .mobile {
        box-sizing: border-box;
        width: 100%;
        height: calc(100% - 10px);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .containerRed {
        height: 50%;
        width: 100%;
        box-sizing: border-box;
    }

    .container {
        display: flex;
        width: 100%;
        height: 50%;
        gap: 10px;
    }

    .containerBlue {
        height: 100%;
        width: 50%;
        grid-template-columns: 3fr 1fr;
    }

    .containerGreen {
        height: 100%;
        width: 50%;
        box-sizing: border-box;
    }
}
